body {
    background-color: white;
}

#header{
  display:flex;
  justify-content: center;
  width:100%;
  height:fit-content;
  background-color: dimgray;
}
#d2Logo{
    width: 10%;
    height: 10%;
}

#title{
    font-style:normal;
    font-weight: bold;
    text-align: center;
    vertical-align:top;
    text-decoration: underline;
}

.lightDarkModeToggle{
    display:flex
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    content: url("Light.png");
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: url("Dark.png");
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    background-color: grey;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#searchAndCharacters{
  display: flex;
}
.searchAndLoginDiv{
    display:flex;
}

.searchBox{
  margin-left:1%;;
  margin-bottom:1%;
  width: fit-content;
  outline-style: solid;
}

#playerNameLabel{
    width:fit-content;
}
#inputs{
    display:flex;
}
#inputBox{
    border-radius: 15px;
}
#userSearchForm{
    display: flex;
    justify-content: space-between;
}
#searchButton{
    border-radius: 15px;
}

.historyBox{
    width:fit-content;
    outline-style: solid;
    outline-color: orangered;
}

.charactersAndStats{
  display: flex;
  margin-top: 1%;
}

.characterBoxes{
  margin-left: 5%;
  display:grid;
  grid-template-columns: auto;
}
.guardian{
  position:relative;
  visibility: hidden;
}
.classTypeText{
  position:absolute;
  margin-left: 25%;
  font-size: larger;
  color: white;
}
.raceTypeText{
  position:absolute;
  margin-top: 10%;
  margin-left: 25%;
  font-size: larger;
  color: white;
}
.levelText{
  position:absolute;
  margin-top:7%;
  margin-left:75%;
  font-size: x-large;
  color: yellow;
}
.characterBackground{
  border-radius: 15px;
}

.overviewStats{
  display: grid;
  grid-template-columns: auto auto auto;
  width:fit-content;
  outline-style: solid;
}
.overviewTitlePlaytimeAndMatches{
    width:fit-content;
    margin-right: 5%;
}
#playtimeDiv{
    display: flex;
}
#playtimeClock{
    width: 36px;
    height: fit-content;
    margin-top: 15%;
}

.characterStats{
  margin-left: 5%;
  width:fit-content;
  outline-style: solid;
}
.characterStatsTitle{
  width:fit-content;
}
.statGrid{
  display:grid;
  grid-template-columns: auto auto auto;
}
.characterStatObject{
  display:flex;
}

.charts{
  display:flex;
  width:fit-content;
}