body {
}

#title{
    font-style:normal;
    font-weight: bold;
    text-align: center;
    vertical-align:top;
}

.buttons{
    background-color:red;
}

#testPara{
    font-family:'Pokemon Fire Red';
    font-size:large;
}
#equipmentWeaponListTitle{
    visibility:hidden;
}
#kineticWeaponItem{
    visibility:hidden;
}
#energyWeaponItem {
    visibility: hidden;
}
#powerWeaponItem {
    visibility: hidden;
}

#equipmentArmourListTitle {
    visibility: hidden;
}
#helmetArmourItem {
    visibility: hidden;
}
#gaunletsArmourItem {
    visibility: hidden;
}
#chestArmourItem {
    visibility: hidden;
}
#legArmourItem {
    visibility: hidden;
}
#classArmourItem {
    visibility: hidden;
}

#equipmentExtrasListTitle {
    visibility: hidden;
}
#ghostExtraItem {
    visibility: hidden;
}
#vehicleExtraItem {
    visibility: hidden;
}
#shipsExtraItem {
    visibility: hidden;
}
#subclassExtraItem {
    visibility: hidden;
}
#emblemsExtraItem {
    visibility: hidden;
}
#finishersExtraItem {
    visibility: hidden;
}